page-income-details {

}
.income_header{
    height: 35vh;
    background-color: #2f64ff;
    color: #fff;
    z-index: 1;
}
.income_title   {
    background-color: #2f64ff;
    color: #fff;
    opacity: 0.3;
    padding: 15px;
}
