page-register {

}
.startup_img {
    margin: 0 auto;
    text-align: center;
    margin-top: 2vh;
}
.logo_img {
    width: 15vw;
}
.register_text  {
    text-align: center;
    // font-weight: bold;
    // color: #b2beb5;
    margin-top: 20px !important;
}
.label-md-primary, .item-input .label-md-primary, .item-select .label-md-primary, .item-datetime .label-md-primary {
    color: #000;
}
.label-ios-primary, .item-input .label-ios-primary, .item-select .label-ios-primary, .item-datetime .label-ios-primary {
    color: #000;
}
.button_login {
    width: 80vw;
}
.button-center {
    margin: 0 auto;
    text-align: center;
    margin-top: 5vh;
}
.button-center-login {
    margin: 0 auto;
    text-align: center;
    margin-top: 23vh;
}
.forgot_d_l {
text-align: center;
font-size: 13px;
}
.slide_v    {
    height: 90vh;
     margin-top: 3vh !important;
}

.slide_auth {
    
}
.welcome    {
    font-size: xx-large;
    font-weight: bold;
    color: #999;
    margin-bottom: -5px;
}