page-home {

}
.bar-button-menutoggle-ios ion-icon {
    padding: 0 6px;
    font-size: 2.8rem;
    color: #fff;
}
.bar-button-menutoggle-md ion-icon {
    padding: 0 6px;
    font-size: 2.4rem;
    color: #fff;
}
.home_heading   {
    height: 40vh;
    background-color: #2f64ff;
    color: #fff;
    position: relative !important;
    z-index:1
}
.home_name  {
    text-align: center;
    margin-top: 8vh;
}
.account_label  {
    text-align: center;
}
.account_title  {
    font-size:13px;
}
.account_value  {
    font-weight: bold;
    font-size: 15px;
}
.account_head   {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    margin-top: -3vh;
    z-index:1
    
}
.account_head1  {
        font-size: 20px;
    text-align: center;
    font-weight: 700;
    margin-top: -5.5vh;
    background-color: #314C7E;
    height: 9vh;
}
.account_card   {
    text-align: center;
    height: 18vh;
    width: 33vw;
    margin: auto;
}
.dash_logo  {
    padding-top: 2vh;
}
.logo_icon  {
    width: 30vw;
    margin-top: 15px;
}
