page-add-file {

}
.home_file {
    text-align: center;
    opacity: 0.1;
    margin-top: 25vh;
}
.img_file {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    overflow-y: scroll;
    height: 75vh;
}
