page-bulksms-details {

}
.report_text {
    background-color: #fff;
    height: 40vh;
}
.text_area   {
    height: 100% !important;
    width: 100% !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-top: transparent !important;
}
