page-help-topics {

}
.img_help   {
    text-align: center;
}
.text_help  {
    font-size: 10px;
    font-weight: bold;
}
.help_card  {
    text-align: center;
    height: 23vh;
    width: 40vw;
    margin: auto;
}