<!--
  Generated template for the HelpTopics page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar hideBackButton>
        <ion-buttons left (click)="goHome()">
            <button ion-button icon-only>
			<ion-icon name="home"></ion-icon>
		</button>
        </ion-buttons>
        <ion-title>Help Topics</ion-title>
        <!--<ion-buttons end (click)="presentPopover($event)">
            <button ion-button icon-only color="royal">
        <ion-icon name="information-circle"></ion-icon>
      </button>
        </ion-buttons>-->
    </ion-navbar>
</ion-header>


<ion-content padding style="overflow-y: scroll;">
    <div *ngIf="helpList">
        <br/>
        <ion-row>
            <ion-col (click)="helpInfo(1)">
                <ion-card class="help_card">
                    <div class="dash_logo">
                        <ion-card-header>
                            <img src="assets/svg/about.svg" style="width:28%;margin:auto" />
                        </ion-card-header>
                        <ion-card-content>
                            <p class="text_help">ABOUT <br/>AFFIAH</p>
                        </ion-card-content>
                    </div>
                </ion-card>
            </ion-col>
            <ion-col (click)="helpInfo(2)">
                <ion-card class="help_card">
                    <div class="dash_logo">
                        <ion-card-header>
                            <img src="assets/svg/account.svg" style="width:28%;margin:auto" />
                        </ion-card-header>
                        <ion-card-content>
                            <p class="text_help">ACCOUNT <br/>SETUP</p>
                        </ion-card-content>
                    </div>
                </ion-card>
            </ion-col>


        </ion-row>
        <br/>
        <br/>
        <ion-row>
            <ion-col (click)="helpInfo(3)">
                <ion-card class="help_card">
                    <div class="dash_logo">
                        <ion-card-header>
                            <img src="assets/svg/client.svg" style="width:28%;margin:auto" />
                        </ion-card-header>
                        <ion-card-content>
                            <p class="text_help">MANAGE <br/>CLIENTS</p>
                        </ion-card-content>
                    </div>
                </ion-card>
            </ion-col>
            <ion-col (click)="helpInfo(4)">
                <ion-card class="help_card">
                    <div class="dash_logo">
                        <ion-card-header>
                            <img src="assets/svg/project.svg" style="width:28%;margin:auto" />
                        </ion-card-header>
                        <ion-card-content>
                            <p class="text_help">MANAGE <br/>PROJECTS</p>
                        </ion-card-content>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
        <br/>
        <br/>
        <ion-row>
            <ion-col (click)="helpInfo(5)">
                <ion-card class="help_card">
                    <div class="dash_logo">
                        <ion-card-header>
                            <img src="assets/svg/bulk.svg" style="width:28%;margin:auto" />
                        </ion-card-header>
                        <ion-card-content>
                            <p class="text_help">SEND <br/>BULK SMS</p>
                        </ion-card-content>
                    </div>
                </ion-card>
            </ion-col>
            <ion-col (click)="helpInfo(6)">
                <ion-card class="help_card">
                    <div class="dash_logo">
                        <ion-card-header>
                            <img src="assets/svg/report.svg" style="width:28%;margin:auto" />
                        </ion-card-header>
                        <ion-card-content>
                            <p class="text_help">GENERATING<br/> REPORTS</p>
                        </ion-card-content>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
        <br/>
        <br/>
    </div>
    <!--<ion-row>
        <ion-col class="img_help">
            <img src="assets/svg/project.svg" style="width:30%;margin:auto" />
            <p class="text_help">MANAGE <br/>INCOME</p>
        </ion-col>
        <ion-col class="img_help">
            <img src="assets/svg/bulk.svg" style="width:30%;margin:auto" />
            <p class="text_help">MANAGE <br/>EXPENSES</p>
        </ion-col>
        <ion-col class="img_help">
            <img src="assets/svg/report.svg" style="width:30%;margin:auto" />
            <p class="text_help">MANAGE<br/> INVOICES</p>
        </ion-col>
    </ion-row>-->
    <div *ngIf="!helpList">
        <h2 style="text-align: center;margin-bottom: 20px;">{{helpTitle}}</h2>
        <p>{{helpMessage}}</p>
    </div>

    <p (click)="helpPage()" style="text-align: center;" *ngIf="!helpList">
        <ion-icon name="arrow-back" style="margin-right: 5px;"></ion-icon> Go Back</p>


</ion-content>
<!--<ion-footer>

    <ion-toolbar>
        <div>
            <ion-segment [(ngModel)]="tabs_content" (ionChange)="onSegmentChange()">
                <ion-segment-button value="clients">
                    <img src="assets/svg/client.svg" style="width:30%;margin:auto" />
                    <p style="margin-top:-3vh">Client</p>
                </ion-segment-button>
                <ion-segment-button value="projects">
                    <img src="assets/svg/project.svg" style="width:30%;margin:auto" />
                    <p style="margin-top:-3vh">Project</p>

                </ion-segment-button>
                <ion-segment-button value="finances">
                    <img src="assets/svg/finance.svg" style="width:30%;margin:auto" />
                    <p style="margin-top:-3vh">Finance</p>

                </ion-segment-button>
                <ion-segment-button value="bulk_sms">
                    <img src="assets/svg/bulk.svg" style="width:30%;margin:auto" />
                    <p style="margin-top:-3vh">Bulk SMS</p>
                </ion-segment-button>
                <ion-segment-button value="reports">
                    <img src="assets/svg/report.svg" style="width:30%;margin:auto" />
                    <p style="margin-top:-3vh">Reports</p>

                </ion-segment-button>

            </ion-segment>
        </div>
    </ion-toolbar>


</ion-footer>-->